<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Barcode Scanner</h3>
      </div>
      <div class="panel-body">
        <div id='barcode-scanner'></div>
      </div>
    </div>
  </div>
</div>

